{extend name="public:_index" /}
{block name="title"}角色管理{/block}
{block name="description"}描述{/block}
{block name="keywords"}关键词{/block}
{block name="heading"}角色{/block}
{block name="breadcrumb"}角色{/block}
{block name="wrapper"}
<div class="col-lg-12">
    <div class="">
        <button class="btn btn-default" onclick="role_add('添加角色', '{:url('admin/Role/add')}', '600', '500');">
            <span class="icon16 entypo-icon-plus-2"></span>
            添加角色
        </button>
        <div class="marginB10"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <span class="icon16 icomoon-icon-numbered-list"></span>
                <span>角色列表</span>
            </h4>
            <a href="#" class="minimize" style="display: none;">Minimize</a>
        </div>
        <div class="panel-body noPad">
            <div class="responsive" tabindex="5005" style="overflow: hidden; outline: none;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>名称</th>
                        <th>状态</th>
                        <th>备注</th>
                        <th>排序</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="roles" id="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td style="text-align:left;">{$vo.name}</td>
                        <td>{$vo.status?'已启用':'已禁用'}</td>
                        <td>{$vo.remark}</td>
                        <td>{$vo.listorder}</td>
                        <td>
                            {if condition="$vo.id neq 1"}
                            <div class="controls center">
                                <a href="javascript:void(0);" class="tip" onclick="role_auth('赋权', '{$vo.id|url='admin/Role/auth', ['id'=>###]}', '800', '500');"  oldtitle="Edit task" title="赋权" data-hasqtip="true">
                                    <span class="icon12 icomoon-icon-checkbox-checked"></span>
                                </a>
                                <a href="javascript:void(0);" class="tip" onclick="role_edit('编辑角色', '{$vo.id|url='admin/Role/edit', ['id'=>###]}', '600', '500');"  oldtitle="Edit task" title="编辑" data-hasqtip="true">
                                    <span class="icon12 icomoon-icon-pencil"></span>
                                </a>
                                <a href="javascript:void(0);" class="tip" onclick="role_del(this, '{$vo.id}')" oldtitle="Remove task" title="删除" data-hasqtip="true">
                                    <span class="icon12 icomoon-icon-remove"></span>
                                </a>
                            </div>
                            {/if}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- End .panel -->
</div>
{/block}

{block name="plugins_js"}

<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/plugins/layer/layer.js"></script>

<script>
    /**
     * 添加角色
     * @param title
     * @param url
     * @param w
     * @param h
     */
    function role_add(title, url, w, h){
        layer_show(title, url, w, h);
    }

    /**
     * 编辑权限
     * @param title
     * @param url
     * @param w
     * @param h
     */
    function role_auth(title, url, w, h){
        layer_show(title, url, w, h);
    }

    /**
     * 编辑角色
     * @param title
     * @param url
     * @param w
     * @param h
     */
    function role_edit(title, url, w, h){
        layer_show(title, url, w, h);
    }

    /**
     * 删除角色
     * @param obj
     * @param id
     */
    function role_del(obj, id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                data: {
                    id: id
                },
                url: '/amos/role/delete.html',
                dataType: 'json',
                success: function(response){
                    if (response.status == 'success') {
                        $(obj).parents("tr").remove();
                        layer.msg('删除成功!',{icon:1,time:1000});
                    } else if ( response.status == 'failed') {
                        layer.msg('删除失败', {icon:2,time:1000});
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:2,time:1000});
                    console.log(data.msg);
                },
            });
        });
    }
</script>

{/block}