{extend name="public:_index" /}
{block name="title"}主页管理面板{/block}
{block name="description"}描述{/block}
{block name="keywords"}关键词{/block}
{block name="heading"}主页{/block}
{block name="breadcrumb"}主页{/block}
{block name="wrapper"}
<div class="page-container">
    <p class="f-20 text-success">欢迎使用Loear.admin <span class="f-14">v1.0</span>后台！</p>
    <!--<p>登录次数：18 </p>-->
    <p>上次登录IP：{$login.last_login_ip}  上次登录时间：{$login.last_login_time|date="Y-m-d H:i:s",###}</p>
    <table class="table table-border table-bordered table-bg" style="display: none">
        <thead>
        <tr>
            <th colspan="7" scope="col">信息统计</th>
        </tr>
        <tr class="text-c">
            <th>统计</th>
            <th>资讯库</th>
            <th>图片库</th>
            <th>产品库</th>
            <th>用户</th>
            <th>管理员</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td>总数</td>
            <td>92</td>
            <td>9</td>
            <td>0</td>
            <td>8</td>
            <td>20</td>
        </tr>
        <tr class="text-c">
            <td>今日</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr class="text-c">
            <td>昨日</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr class="text-c">
            <td>本周</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr class="text-c">
            <td>本月</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-border table-bordered table-bg mt-20">
        <thead>
        <tr>
            <th colspan="2" scope="col">服务器信息</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th width="30%">服务器计算机名</th>
            <td><span id="lbServerName">{$Think.server.server_name}</span></td>
        </tr>
        <tr>
            <td>服务器IP地址</td>
            <td>{$Think.server.remote_addr}</td>
        </tr>
        <tr>
            <td>服务器域名</td>
            <td>{$Think.server.http_host}</td>
        </tr>
        <tr>
            <td>服务器端口 </td>
            <td>{$Think.server.server_port}</td>
        </tr>
        <tr>
            <td>本文件所在文件夹 </td>
            <td>{$Think.server.document_root}</td>
        </tr>
        <tr>
            <td>服务器操作系统 </td>
            <td>{$php_os}</td>
        </tr>
        <tr>
            <td>系统所在文件夹 </td>
            <td>{$Think.server.context_document_root}</td>
        </tr>
        <tr>
            <td>服务器的语言种类 </td>
            <td>{$Think.server.http_accept_language}</td>
        </tr>
        <tr>
            <td>服务器当前时间 </td>
            <td>{$now_time|date="Y-m-d H:i:s",###}</td>
        </tr>
        <tr>
            <td>当前SessionID </td>
            <td>{:session_id()}</td>
        </tr>
        <tr>
            <td>当前系统用户名 </td>
            <td>{$login.username}</td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="footer mt-20">
    <div class="container">
        <p>感谢jQuery、layer、laypage、Validform、UEditor、bootstrap<br>
            Copyright &copy;2015-2017 Loear.admin v1.0 All Rights Reserved.<br>
            本后台系统由<a href="http://www.loear.com/" target="_blank" title="鹿耳软件">鹿耳软件</a>提供技术支持</p>
    </div>
</footer>
{/block}