{extend name="public:_single" /}
{block name="title"}添加模板{/block}
{block name="description"}描述{/block}
{block name="keywords"}关键词{/block}
{block name="wrapper"}
<!-- Plugin stylesheets -->
<link href="/static/plugins/misc/qtip/jquery.qtip.css" rel="stylesheet" type="text/css" />
<link href="/static/plugins/forms/inputlimiter/jquery.inputlimiter.css" type="text/css" rel="stylesheet" />
<link href="/static/plugins/forms/togglebutton/toggle-buttons.css" type="text/css" rel="stylesheet" />
<link href="/static/plugins/forms/uniform/uniform.default.css" type="text/css" rel="stylesheet" />
<link href="/static/plugins/forms/color-picker/color-picker.css" type="text/css" rel="stylesheet" />
<link href="/static/plugins/forms/select/select2.css" type="text/css" rel="stylesheet" />
<link href="/static/plugins/forms/validate/validate.css" type="text/css" rel="stylesheet" />


<form action="javascript:void(0);" class="form-horizontal" id="form-template-add" data-action="{:url('admin/Template/addProcess')}">
    <div class="form-group">
        <label class="col-lg-3 control-label" for="form-title">模板名</label>
        <div class="col-lg-9">
            <input type="text" name="title" class="form-control uniform-input text" id="form-title">
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-lg-3 control-label" for="form-description">描述</label>
        <div class="col-lg-9 ">
            <textarea name="description" id="form-description" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn btn-info">保存</button>
        </div>
    </div>

</form>
{/block}

{block name="plugins_js"}

<!-- Form plugins -->

<script type="text/javascript" src="/static/plugins/forms/elastic/jquery.elastic.js"></script>
<script type="text/javascript" src="/static/plugins/forms/inputlimiter/jquery.inputlimiter.1.3.min.js"></script>
<script type="text/javascript" src="/static/plugins/forms/maskedinput/jquery.maskedinput-1.3.min.js"></script>
<script type="text/javascript" src="/static/plugins/forms/togglebutton/jquery.toggle.buttons.js"></script>
<script type="text/javascript" src="/static/plugins/forms/uniform/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/static/plugins/forms/globalize/globalize.js"></script>
<script type="text/javascript" src="/static/plugins/forms/color-picker/colorpicker.js"></script>
<script type="text/javascript" src="/static/plugins/forms/timeentry/jquery.timeentry.min.js"></script>
<script type="text/javascript" src="/static/plugins/forms/select/select2.min.js"></script>
<script type="text/javascript" src="/static/plugins/forms/dualselect/jquery.dualListBox-1.3.min.js"></script>
<script type="text/javascript" src="/static/plugins/forms/tiny_mce/tinymce.min.js"></script>
<script type="text/javascript" src="/static/js/supr-theme/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/static/js/supr-theme/jquery-ui-sliderAccess.js"></script>
<script type="text/javascript" src="/static/plugins/forms/validate/jquery.validate.js"></script>
<script type="text/javascript" src="/static/plugins/forms/wizard/jquery.form.js"></script>

<!-- Init plugins -->

<script type="text/javascript" src="/static/js/forms.js"></script><!-- Init plugins only for page -->

<script>
    $("#form-template-add").validate({
        rules:{
            name: {
                required: true,
                minlength: 2
            }
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                type:'post',
                url: $("#form-template-add").data('action'),
                dataType: 'json',
                data:{},
                success:function(response){
                    if (response.status == 'success') {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.msg('添加成功，id='+response.result.id,{icon:1,time:10000});
                        setTimeout(function(){
                            parent.location.reload(); // 刷新页面
                            parent.layer.close(index);
                        },1200);
                    } else if ( response.status == 'failed') {
                        parent.layer.msg('添加失败',{icon:2,time:1000});
                    }
                },error:function(data) {
                    parent.layer.msg('无效的请求',{icon:2,time:1000});
                }
            });
        }
    });
</script>

{/block}



